@use "./shared//scss/normalize.min.css";
body{
  width: 350px;
  background: #222;
  color: #eee;
  font-family: sans-serif;
  padding: 1em;
}
html{
  background: #fff;
}
input{
  padding: 10px 5px;
  border: none;
  outline: none;
  background: #111;
  color: rgb(185, 255, 80);
  font-family: 2rem;
}

button{
  border: none;
  outline: none;
  background: rgb(185, 255, 80);
}
